@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

.d-border {
  border: 2px solid blue;
}

body {
  margin: auto;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end) infinite alternate;
  display: inline-block;
  position: relative;
}

.typewriter h1::after {
  content: "|";
  animation: blink-caret 0.5s step-end infinite;
  position: relative;
  right: -0.1em;
  opacity: 1;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}
